<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/user_lb.css ">
    <link rel="stylesheet" href="/css/header.css">
    <script type="text/javascript" src="/js/invest.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <title>Investigation</title>
</head>
<body>

    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>

            <!-- <div class="login">  -->

            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>
                
            <% if(account == "Sign up") { %>
                <li class="nav_signin"><a href="/register"><%= account%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/member"><%= account%></a></li>
            <% } %>
        </ul>    
    </header>
    <main class="user">
        <span id="time" style="display: none"><%= time %></span>
        <section class="user_data">
            <table class = "datas" id="table">
                <tr>
                    <th>編號</th>
                    <th>借方</th>
                    <th>借方信用評價</th>
                    <th>借款金額($)</th>
                    <th>利率(%/年)</th>
                    <th>期數(期)</th>
                    <th>借款原因</th>
                    <th>借款方式</th>
                    <th>可投資金額</th>
                    <th>剩餘時間</th>
                    <th>投資</th>
                </tr>
                <% for(let i = 0; i < data.length; i++) { %>
                    <tr class = "datas_data" id="table_data">
                        <td><%= i+1 %></td>
                        <td><%= data[i].username %></td>
                        <td><%= data[i].reliability %></td>
                        <td><%= data[i].money %></td>
                        <td><%= data[i].rate %></td>
                        <td><%= data[i].period %></td>
                        <td><%= data[i].loan_reason %></td>
                        <td><%= data[i].loan_type %></td>
                        <td><%= amount[i] %></td>
                        <td style="display: none"><%= data[i].status %></td>
                        <td style="display: none"><%= data[i].id %></td>
                        <td><%= time[i] %></td>                        
                        <% if(amount[i] == 0){ %>
                            <td><button type="button" disabled id="click" onclick="getValue(this)">click</button></td>
                        <%  }else{ %>
                            <td><button id="click" onclick="getValue(this)">click</button></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </section>
    </main>

</body>
</html>