<!DOCTYPE html>
<html>
<head>
    <title>Member Center</title>
    <link rel="stylesheet" href="/css/member.css" type="text/css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
</head>

<body>
    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>

            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
                <script>
                    window.location = "/login";
                </script>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>

            <% if(account == "Sign up") { %>
                <li class="nav_signin"><a href="/register"><%= account%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/member"><%= account%></a></li>
            <% } %>
        </ul>      
    </header>

    <div class="start">
        <h1 class="start_topic">會員中心</h1>
    </div>

    <table>
		<tr>
			<td>Team</td>
			<td>WIN</td>
			<td>LOSE</td>
		</tr>
		<tr>
			<td><%=  transaction %></td>
			<td>10</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Boston Red Sox</td>
			<td>9</td>
			<td>9</td>
        </tr>
        <tr>
			<td>Toronto Blue Jays</td>
			<td>8</td>
			<td>9</td>
		</tr>
	</table>



    </article>


</body>
</html>