<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/user_lb.css ">
    <link rel="stylesheet" href="/css/header.css">
    <script type="text/javascript" src="/js/member_loan.js"></script>

    <title>My Loan Data</title>
</head>
<body>

    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>

            <!-- <div class="login">  -->

            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>
                
            <% if(account == "Sign up") { %>
                <li class="nav_signin"><a href="/register"><%= account%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/member"><%= account%></a></li>
            <% } %>
        </ul>    
    </header>

    <main class="user">
        <div class="user_sidenav sidenav">
            <a class="sidenav_block" href="/member">個人資料</a>
            <a class="sidenav_block" href="/member/myLoan">我的貸款</a>
            <a class="sidenav_block" href="/member/myInvest">我的投資</a>
        </div>
        <section class="user_data">
            <table class = "datas" id="table">
                <tr>
                    <th>編號</th>
                    <th>欲貸金額($)</th>
                    <th>利率(%/年)</th>
                    <th>期數(期)</th>
                    <th>貸款原因</th>
                    <th>貸款方式</th>
                    <th>狀態</th>
                    <th>查看借貸完成紀錄</th>
                </tr>
                <% for(let i = 0; i < data[0].length; i++) { %>
                    <tr class = "datas_data">
                        <% for(let j = 0; j < 8; j++) { %>
                            <% if(j == 1) { %>
                                <td>$ <%= data[j][i] %></td>
                            <% } else if(j == 2) { %>
                                <td><%= data[j][i] %> %</td>
                            <% } else if(j == 3) { %>
                                <td><%= data[j][i] %> 期</td>
                            <% } else if(j == 6) { %>
                                <% if(data[j][i] == 1) { %>
                                    <td> 等待中 </td>
                                    <td><button type="button" disabled id="click">click</button></td>
                                <% } else { %>
                                    <td> 已結束 </td>
                                    <% if(data[5][i] == "一般") { %>
                                        <td><button type="button" id="click" onclick="showTransactInfo(this)">click</button></td>
                                    <% } else { %>
                                        <td><button type="button" id="click" onclick="showMatchInfo(this)">click</button></td>
                                    <% } %>
                                <% } %>
                            <% } else if(j == 7) { %>
                                <td style="display: none"><%= data[j][i] %></td>
                            <% } else { %>
                                <td><%= data[j][i] %></td>
                            <% } %>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </section>
    </main>
</body>
</html>