<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/user_info.css ">
    <link rel="stylesheet" href="/css/header.css">
    <title>Member Center</title>
</head>

<body>

    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>

            <!-- <div class="login">  -->

            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>
                
            <% if(account == "Sign up") { %>
                <li class="nav_signin"><a href="/register"><%= account%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/member"><%= account%></a></li>
            <% } %>
        </ul>    
    </header>

    <main class="user">
        <div class="user_sidenav sidenav">
            <a class="sidenav_block" href="/member">個人資料</a>
            <a class="sidenav_block" href="/member/myLoan">我的借款</a>
            <a class="sidenav_block"href="/member/myInvest">我的貸款</a>
        </div>
        <section class="user_data datas">
            <img  class="data_img" src="/images/user.png">
            <section class = "data_words words">

                <article class="words_word word">
                    <h1 class="word_key">
                        名字
                    </h1>
                    <p><%= username%></p>
                </article>
                <article class="words_word word">
                    <h1 class="word_key">
                        電子信箱
                    </h1>
                    <p><%= mail_addr%></p>
                </article>
            </section>

        </section>

    </main>

</body>
</html>