<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <link rel="stylesheet" href="/css/register.css" type="text/css" />
    <script type="text/javascript" src="/js/register.js"></script>

</head>
<body>
    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>
            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>

            <% if(account == "Sign up") { %>
                <li class="nav_signin"><a href="/register"><%= account%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/member"><%= account%></a></li>
            <% } %>
        </ul>      
    </header>

    <main class="main">
        <article class = "main_titles titles">
            <h3 class= "titles_tile">Join P2P Borrowing Platform</h3>
            <h4 class= "titles_subtitle">Register</h4>
        </article>
            
        <form id="form" method="POST" role="form" >
            <div id="checkInput">
                <p style='color:red; font-size: 18px'> <%= Reg_Msg %> </p>
            </div>
            
            <div name="form1" id="form1">  
                Username <span>*</span> <br/>
                <input id="username" name="username" type="text" required>
                    <span class="ok">ok</span><br/>
                Password <span>*</span> <br/>
                <input id="password" name="password" type="password" required>
                    <span class="ok">ok</span><br/>
                E-mail <span>*</span> <br/>
                <input id="mail" name="mail" type="email" placeholder="Your email" required>
                <span class="ok">ok</span>
                <br/><br/>
                <input id="send" type="submit" value="Send">
        </form>

    </main>
</body>
</html>