<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/user_lb.css ">
    <link rel="stylesheet" href="/css/header.css">
    <!-- <script type="text/javascript" src="/js/member_invest.js"></script> -->

    <title>Return Money Information</title>
</head>
<body>

    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>

            <!-- <div class="login">  -->

            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>
                
            <% if(account == "Sign up") { %>
                <li class="nav_signin"><a href="/register"><%= account%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/member"><%= account%></a></li>
            <% } %>
        </ul>    
    </header>
    <main class="user">
        <section class="user_data">
            <table class = "datas">
                <p>貸方</p>
                <tr>
                    <th>貸方</th>
                    <th>需要還款金額</th>
                    <th>利率</th>
                    <th>期數</th>
                    <th>投資原因</th>
                    <th>投資方式</th>
                    <th>投資時間</th>
                </tr>
                <tr class = "datas_data">
                    <td><%= investigator.investigator %></td>
                    <td>$ <%= investigator.money %></td>
                    <td><%= investigator.rate %> %</td>
                    <td><%= investigator.period %> 期</td>
                    <td><%= investigator.loan_reason %></td>
                    <td><%= investigator.loan_type %></td>
                    <td><%= investigator.time %></td>
                </tr>
            </table>
            <table class = "datas">
                <p>還款紀錄</p>
                <tr>
                    <th>編號</th>
                    <th>還款金額</th>
                    <th>還款時間</th>                 
                </tr>
                <% let total_money = 0; %>
                <% let rest_money = 0; %>

                <% for(let i = 1; i < loaner[0].length; i++) { %>
                    <tr class = "datas_data" id="table_data">
                        <td><%= i %></td>
                        <% for(let j = (i-1)*3; j < loaner[1].length-1; j+=3) { %>
                            <% if(loaner[0][i] == loaner[1][j]) { %>
                                <td>$ <%= loaner[1][j+1]-loaner[1][j+2] %></td>
                                <td><%= time[i-1].time %></td>
                                <% total_money = total_money + parseInt(loaner[1][j+1]-loaner[1][j+2]); %>
                                <% break; %>
                            <% } %>
                        <% } %>
                    </tr>
                <% } %>
            </table>
            <% rest_money = investigator.rest_money-total_money; %>
            <br>
            <span>目前還款金額 ： $ <%= total_money %></span><br>
            <span>仍需還款金額 ： $ <%= rest_money %></span><br>
            
        </section>
    </main>
</body>
</html>